

.banner .swiper {
  width: 240px;
  height: 320px;
}

.banner .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.banner .swiper-slide:nth-child(1n) {
  background-image:url('https://i.postimg.cc/B6GYSJnK/book1.png');
}

.banner .swiper-slide:nth-child(2n) {
    background-image:url('https://i.postimg.cc/MTW73HGd/book2.png');
}

.banner .swiper-slide:nth-child(3n) {
    background-image:url('https://i.postimg.cc/DZBq9hJF/book3.png');
}

.banner .swiper-slide:nth-child(4n) {
    background-image:url('https://i.postimg.cc/1XdDzKrj/book4.png');
}

.banner .swiper-slide:nth-child(5n) {
    background-image:url('https://i.postimg.cc/J00bmFZX/book5.png');
}
